<!-- @format -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
     <div class="container-fluid">
          <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
          <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarNav"
          >
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <!-- Left-aligned nav items (me-auto pushes the next elements to the right) -->
               <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                         <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/campgrounds"
                              >All Campgrounds</a
                         >
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/campgrounds/new"
                              >New Campground</a
                         >
                    </li>
               </ul>
               <!-- Right-aligned nav items (no extra class needed due to me-auto on the left ul) -->
               <ul class="navbar-nav">
                    <% if (!currentUser) { %>
                    <li class="nav-item">
                         <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                         <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } %>
               </ul>
          </div>
     </div>
</nav>
