<!-- @format -->

<% layout("layouts/boilerplate") %>

<h1>All Campgrounds</h1>

<a href="/campgrounds/new">Add New Campground</a>

<ul>
     <% campgrounds.forEach(camp => { %>
     <li>
          <a href="/campgrounds/<%= camp._id %>">
               <strong><%= camp.title %></strong> - <%= camp.location %>
          </a>
     </li>
     <% }) %>
</ul>
